.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;  
  width: fit-content;
  padding: 25px;
  margin: 0 auto;
  border: 1px solid black;
  align-items: flex-start;
  background-color: #ffbd4a;
}

label {
  margin-top: 10px;
}

input {
  padding: 3px;
}

button {
  margin: 5px 0;
  align-self: center;
  width: 100%;
  background-color: #194eac;
  border: none;
  color: white;
  height: 30px;
}

.smurfs {
  display: flex;
  flex-flow: row wrap;
  margin-top: 25px;
}

.smurf {
  border: 1px solid black;
  margin: 25px;
  padding: 5px;
  background-color: #194eac;
  width: 300px;

}

h1, h2, h3 {
  color: white;
  font-family: 'Dancing Script', cursive;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}